@import '~antd/dist/antd.css';
.App {
  text-align: left;
}
.form-head{
  text-align: center;
  padding: 20px;
}
.question-list{
  padding: 0 10px;
  .question-cell{
    margin-bottom: 20px;
  }
  .input-title{

  }
}


